.container {
  max-width: 1200px;
  margin: auto;
}

.block_marketing {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  box-sizing: border-box;
}

.block_marketing::before {
  content: " ";
  position: absolute;
  right: 0;
  bottom: -2px;
  height: 150px;
  width: 150px;
  background: #FF6333;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}



.marketing_caption > h4 {
  font-weight: 500;
  color: #000F30;
  font-size: 24px;
  line-height: 28px;
  margin: 20px 0;
}

.marketing_caption > h4 > span {
  color: #ff6333;
}

.marketing_caption > p {
  font-size: 15px;
  line-height: 17px;
}

.marketing_block_colum {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.marketing_block_colum > div:nth-child(2), .marketing_block_colum > div:nth-child(5) {
  border-right: 1px dashed #4C29CC;
  border-left: 1px dashed #4C29CC;
}

.marketing_block_colum > div:nth-child(4), .marketing_block_colum > div:nth-child(5), .marketing_block_colum > div:nth-child(6) {
  padding-top: 100px;
}

.marketing-colum > div:last-child {
  padding-top: 50px;
}

.marketing_item {
  min-height: 330px;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: center;
}

.marketing_item > div {
  display: flex;
  justify-content: center;
}

.marketing_item > div > img {
  height: 150px;
}

.marketing_item_txt {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.marketing_item_txt > h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.marketing_item_txt > p {
  font-size: 15px;
  line-height: 25px;
}

@media (max-width: 1220px) {
  .container {
    margin: 0 20px;
  }
}

@media (max-width: 1100px) {
  .marketing_item {
    width: 50%;
  }

  .marketing_block_colum > div:nth-child(2) {
    border: none;
  }

  .marketing_block_colum > div:nth-child(1), .marketing_block_colum > div:nth-child(3), .marketing_block_colum > div:nth-child(5) {
    border-right: 1px dashed #4C29CC;
    border-left: none
  }

  .marketing_block_colum > div:nth-child(3), .marketing_block_colum > div:nth-child(4), .marketing_block_colum > div:nth-child(5), .marketing_block_colum > div:nth-child(6) {
    padding-top: 100px;
  }

  .block_marketing {
    padding-bottom: 100px;
  }

  .block_marketing::before {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 800px) {
  .marketing_item {
    width: 100%;
    flex-direction: row;
    padding: 100px 20px 30px 20px;
  }

  .marketing_item_txt {
    display: flex;
    flex-direction: column;
  }

  .marketing_block_colum > div:nth-child(1), .marketing_block_colum > div:nth-child(3), .marketing_block_colum > div:nth-child(5) {
    border-right: none;
    border-left: none;
  }

  .marketing_block_colum > div {
    padding: none;
    margin: 0;
  }

  .marketing_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 0px;
  }

  .marketing_item_txt {
    width: 80%;
    margin-top: 0px;
  }

  .marketing_block_colum > div:nth-child(2) {
    padding-top: 100px;
    border-bottom: 1px dashed #4C29CC;
  }

  .marketing_block_colum > div {
    border-bottom: 1px dashed #4C29CC;
  }

  .block_marketing::before {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 600px) {
  .marketing_caption > h1 {
    font-size: 38px;
  }

  .marketing_item {
    display: flex;
    flex-direction: column;
  }

  .marketing_block_colum {
    padding: 0;
    padding-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .marketing_caption > h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .marketing_caption > p {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 400px) {
  .marketing_item {
    padding-left: 0;
    padding-right: 0;
  }
}