.container {
  max-width: 1200px;
  margin: auto;
}

.block_footer {
  background: #000f30;
  padding: 40px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer > div:first-child {
  width: 62%;
}

.footer > div:last-child {
  width: 30%;
}

.footer_numbers {
  margin-right: 0px;
}

.footer_numbers > li > a {
  color: #fff;
  font-size: 20px;
}

.footer_numbers > li {
  text-align: center;
}

.footer_numbers > a {
  margin: 25px 0;
  transition: all 0.3s;
}

.footer_numbers > a:last-child {
  margin-bottom: 0;
}


.footer_logo {
  display: flex;
  align-items: center;
}

.footer_logo > p {
  color: rgba(227, 237, 255, 0.5);
  margin-left: 30px;
  font-weight: 500;
  font-size: 16px;
}

.footer_link {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.footer_link > li > a {
  color: #fff;
}

.footer_link > li {
  margin: 10px 0px;
}

.footer_link > li:first-child > a {
  margin-left: 0;
}

.footer_social {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.footer_social > div {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  margin: 0 15px;
}

.footer_social > div:hover {
  background: #FF6C51;
}

.footer_social > div > a {
  padding: 10px;
}

.phone_number2 {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}


@media (max-width: 1220px) {
  .container {
    margin: 0 20px;
  }
}

@media (max-width: 920px) {
  .footer {
    flex-direction: column;
  }

  .footer_numbers {
    margin-right: 0;
  }

  .footer_link {
    justify-content: center;
  }

  .footer_social {
    justify-content: center;
  }

  .footer > div:first-child {
    width: 100%;
  }

  .footer > div:last-child {
    width: 100%;
    margin-top: 30px;
  }

  .footer_logo {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer_logo {
    flex-direction: column;
    align-items: center;
  }

  .footer_logo > p {
    margin-top: 20px;
  }

  .form > div {
    width: 90%;
  }

  .footer_link {
    display: flex;
    flex-direction: column;
  }

  .footer_link > li {
    margin: 5px 0;
    text-align: center;
  }
}

@media (max-width: 300px) {
  .footer_link > li > a {
    margin: 0;
  }
}